{% extends 'base.html.twig' %}

{% block title %}Hello ResultatController!{% endblock %}

{% block body %}
<style>
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .image {
                 width:100px; /* you can use % */
                 height: auto;
             }
</style>
    {% for movie in movies %}
        <a>{{ movie.original_title}}</a>
        <br>
        <img class="image" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}">
        <br>
        <a>{{ movie.overview|length > 150 ? movie.overview|slice(0, 50) ~ '...' : movie.overview }}</a>
        {#        <a href="{{ path("",movie.id) }}"></a>#}
        <br>
    {% endfor %}
{% endblock %}
