{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="corps">
        <div class="firstPart">
            <h1>Connexion</h1>
        </div>
        <div class="block">
            <form action="{{ path('connexion') }}" method="post">
                <p>Mail :</p>
                <input style="width: 30%;" type="text" name="_username" value="{{ last_username }}"/><br>
                <p>Mot de passe :</p>
                <input style="width: 30%;" name="_password" type="password"/><br>
                <br>
                <button class="btn btn-light" type="submit">Connexion</button><br>
                <br>
                <a href="{{path('inscription')}}">Je n'ai pas de compte.</a>
                <br>
            </form>
            <br>
        </div>
    </div>

    <style>
        .corps{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            background-color: #BAD4D8;
            border-radius: 50px;
        }
        .firstPart{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            text-align: center;
        }
        .block{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            text-align: center;
        }

    </style>
{% endblock %}
