{% extends 'base.html.twig' %}

{% block title %}Modifier les informations{% endblock %}

{% block body %}
    <div class="firstPart">
        <h1>Modifications</h1>
    </div>
    {{ include('crud_user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <style>
        .corps{
            width: auto;
            height: auto;
            border: 1px solid black;
            margin: 2%;
        }
        .firstPart{
            width: auto;
            height: auto;
            border: 1px solid black;
            margin: 2%;
            text-align: center;
        }
        .block{
            width: auto;
            height: auto;
            border: 1px solid black;
            margin: 2%;
            text-align: center;
        }
    </style>



{% endblock %}
