{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
        <div class="firstPart">
            <h1>Création d'un nouvel utilisateur</h1>

            {{ include('crud_user/_form.html.twig') }}
            {#<a class="btn btn-light" href="{{ path('profil')}}">Retour à la page de profil</a><br><br>
            <a class="btn btn-light" href="{{ path('app_crud_user_index') }}">Voir la liste des utilisateurs</a>#}
        </div>

    <style>
        .corps{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            background-color: #BAD4D8;
            border-radius: 50px;
        }
        .firstPart{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            text-align: center;
            background-color: #BAD4D8;
            border-radius: 50px;

        }
        .block{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            text-align: center;

        }

    </style>
{% endblock %}
