{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}
     <h1>{{ film.original_title }}</h1>
     <a>{{ film.overview }}</a>
    <img src="{{ image }}">
{% endblock %}
